.calc-app {
  margin: 0 auto;
  margin-top: 40px;
  width: 250px;
  text-align: center;
  font-weight: bold;
}

.Keypad {
  display: grid;
  /* Line below repeat will create for columns or 4 fractions in a grid layout */
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

input[type="text"] {
  height: 65px;
}

#clear {
  grid-column: 1/3;
  grid-row: 1;
}

#result {
  grid-column: 3/5;
  grid-row: 5;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

.calculator-display {
  grid-column: 1/4;
  grid-row: 1;
}

.calculator-display-result {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-align: right;
  padding: 20px;
  border-radius: 5px;
  background-color: #000;
}

.calculator-display-input {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: right;
  padding: 20px;
  border-radius: 5px;
  background-color: #000;
}

.calculator-keypad {
  grid-column: 1/5;
  grid-row: 2;
}

.calculator-keypad-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

.calculator-display-result {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-align: right;
  padding: 20px;
  border-radius: 5px;
  background-color: #000;
}

.calculator-display-input {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: right;
  padding: 20px;
  border-radius: 5px;
  background-color: #000;
}

.calculator-keypad-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: right;
  padding: 20px;
  border-radius: 5px;
  background-color: #000;
}
